@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack: 'Open Sans', sans-serif;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: $font-stack;
}

.container {
	width: 30%;
	height: 250px;
	margin: 0 auto;
}

.effect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.5);
		transition: .3s ease-in-out;
		h2 {
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			position: relative;
			font-size: 1.5em;
			padding: 1em;
			background: rgba(0, 0, 0, 0.6);
			transform: translateY(-100px);
			transition-duration: 0.2s;
		}
		a {
			display: block;
			width: 50%;
			border: 2px solid #fff;
			margin: 50px auto;
			color: #fff;
			text-decoration: none;
			transform: translateY(300px);
			transition-duration: 0.2s;
			padding: 1em;
			border: 2px solid #fff;
		}
	}
	img {
		display: block;
		position: relative;
		transition: 0.3s ease-in-out;
		width: 100%;
		height: auto;
	}
	&:hover {
		.overlay {
			opacity: 1;
		}
		img {
			transform: scale(1.2);
		}
		h2, a {
			transform: translateY(0);
		}
	}
}